{
	"trailingComma": "es5",
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"printWidth": 120,
	"singleAttributePerLine": true,
	"quoteProps": "consistent",
	"bracketSameLine": true,
	"arrowParens": "avoid",
	"parser": "vue",
	"overrides": [
		{
			"files": [
				"*.js",
				"*.mjs"
			],
			"options": {
				"parser": "babel"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		},
		{
			"files": "*.scss",
			"options": {
				"parser": "scss"
			}
		},
		{
			"files": "*.css",
			"options": {
				"parser": "css"
			}
		}
	]
}